// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.chronometer {
}

.chronometer-icon {
    padding-right: 3px;
}

.chronometer-hide {
    display: none;
}

.chronometer-manager-container {
  min-height: 300px;

  .title {
    padding: 1em;
    border-bottom: 1px solid @pane-item-border-color;
  }
}
